<ng-container>
        <input [formControl]="control" type="text"
                class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
                placeholder="Enter Name" />
        <p *ngIf="control.touched && control.dirty && control.errors?.['required']" class="text-red-400">Field is required</p>
        <p *ngIf="control.errors?.['noMatch']" class="text-red-400">Password do not match</p>
        <p *ngIf="control.errors?.['emailTaken']" class="text-red-400">Email already taken</p>
</ng-container>